<div class="container">
    <h2 class="title-2">{{title | uppercase}}</h2>
    <img class="image" src="../../../assets/640px-Pioneering_Spirit_(ship,_2014)_005.jpg" alt="Pioneering_Spirit">
    <p class="text">Pioneering Spirit (раніше Pieter Schelte ) — судно -кран- катамаран , що належить швейцарській компанії Allseas Group, призначене для установки та демонтажу одним підйомом великих нафтових і газових платформ, а також для монтажу трубопроводів рекордної ваги. [4] [2] Судно довжиною 382 метри (1253 фути) і шириною 124 метри (407 футів) є найбільшим судном у світі за валовою місткістю , а з вересня 2021 року також є найбільшим плаваючим судном у світі. [6] Він був побудований у Південній Кореї компанією Daewoo Shipbuilding & Marine Engineeringу 2013 році вартістю 2,6 мільярда євро. Він розпочав офшорні операції в серпні 2016 року.</p>
</div>
