<div class="container">
    <h2 class="title-2">{{title | uppercase}}</h2>
    <img class="image" src="../../../assets/640px-Antonov_An-225_Beltyukov-1.jpg" alt="Antonov_An-225">
    <p class="text">Ан-225 «Мрія» (кодове ім'я НАТО — «Козак» англ. Cossack) — надважкий транспортний літак, створений 1988 року в СРСР київським КБ імені Антонова. До 2022 року Ан-225 був найбільшим та найпотужнішим літаком у світі. Головний конструктор — Віктор Толмачов. Літак створювався для потреб радянської космічної програми: для транспортування вантажів, космічного корабля «Буран» і компонентів ракетної системи «Енергія».</p>

    <p class="text"> розпаду СРСР літак перейшов у власність України, перебував на консервації разом із другим недобудованим фюзеляжем. В кінці 1990-х був реконструйований і модифікований для перевезення важких вантажів. Виконував комерційні перевезення. Ан-225 із максимальною злітною масою 640 т був найважчим літаком у світі. Для порівняння, третій за вантажопідйомністю (після Ан-124 «Руслан») американський військово-транспортний літак C-5 Galaxy має максимальну злітну масу 381 т.</p>
    <p class="text"> У 2004 році Міжнародна федерація повітроплавання внесла Ан-225 до Книги рекордів Гіннеса за його 240 рекордів.</p>
    <p class="text">27 лютого 2022 року Ан-225 був знищений в ангарі під час боїв за аеропорт Гостомель в ході широкомасштабного російського вторгнення в Україну.</p>
</div>
